@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Uneversal Stye */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

/* General Components */
.title {
  margin: 10px 0 40px 0;
  cursor: pointer;
}

.title-text {
  font-size: 60px;
  text-transform: capitalize;
  color: #575757;
}

.title-underline {
  width: 50px;
  border: 3px solid #2b98f0;
  transition: width 4s ease, border 4s ease;
}

.title:hover .title-underline {
  width: 200px;
  border: 3px solid red;
}

/* Start: Header */
#header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}

#nav-top h3 {
  font-size: 30px;
  padding: 5px;
  color: #2b98f0;
  border: 3px solid;
  transition: all 2s ease;
}

#nav-top h3:hover {
  color: #f5f5f5;
  background: #2b98f0;
}

#menu-btn {
  padding: 5px;
  border: 2px solid #2b98f0;
  cursor: pointer;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  background-color: #2b98f0;
  margin: 5px 0;
  transition: transform 1s ease;
}

.bar2 {
  transition: opacity 1s ease;
}

.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.turn .bar2 {
  opacity: 0;
}

.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

nav {
  flex: 0 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  color: #2b98f0;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul li a:hover {
  color: #f5f5f5;
  background: #2b98f0;
  padding-left: 60px;
}

#banner {
  flex: 1 0 auto;
}

/* Start: Navbar Media Queries */
@media screen and (min-width: 690px) {
  nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  #menu-btn {
    display: none;
  }

  nav ul {
    flex: 1 1 auto;
    display: flex !important;
    flex-wrap: wrap;
  }

  nav ul li {
    flex: 1 0 125px;
  }

  nav ul .icon {
    flex: 0 0 20px;
  }

  nav ul li .link-icon {
    color: #f5f5f5;
    background: #395e7e;
  }

  nav ul li .link-icon:hover {
    background: #008dff;
  }

  nav ul a {
    text-align: center;
  }

  nav ul a:hover {
    padding: 10px !important;
  }

  #nav-top {
    padding: 10px;
  }
}
/* End: Navbar Media Queries  */

/* Start: Banner  Section*/
#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/banner-img.jpeg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-box {
  color: #f5f5f5;
  text-align: center;
}

#banner-title {
  text-transform: capitalize;
  font-size: 60px;
}

.banner-underline {
  width: 200px;
  margin: 10px auto;
  border: 3px solid #2b98f0;
}

.banner-subtitle {
  margin: 20px 0 40px 0;
  text-transform: capitalize;
  font-size: 25px;
}

#banner-box a {
  display: inline-block;
  padding: 10px;
  font-size: 40px;
  text-decoration: none;
  color: #f5f5f5;
  background: #2b98f0;
  border: 3px solid #2b98f0;
  border-radius: 5px;
  transition: background 3s ease, border 0.5s ease;
}

#banner-box a:hover {
  background: transparent;
  border: 3px solid #f5f5f5;
}
/* End: Banner Section */

/* End: Header */

/* Start: Skills Section */
#skills {
  padding: 40px;
}

.skill {
  text-align: center;
  margin: 20px 0;
}

.skill .fa {
  color: #2b98f0;
  padding: 20px;
  border-radius: 50%;
  font-size: 60px;
  transition: transform 0.5s ease-in, background 0.5s ease, color 0.5s ease;
}

.skill .fa:hover {
  transform: scale(0.7);
  background: #2b98f0;
  color: #fff;
}

.skill h3 {
  margin: 10px 0 15px 0;
  text-transform: capitalize;
  font-size: 30px;
  color: #2b98f0;
}

.skill p {
  line-height: 1.5em;
  width: 75%;
  margin: 0 auto;
}

/* Start: Skils Media Query */
@media screen and (min-width: 576px) {
  #banner {
    background-attachment: fixed;
  }

  .skills-center {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    flex: 0 1 calc(50% - 2em);
  }
}

@media screen and (min-width: 992px) {
  .skill {
    flex: 0 1 calc(25% - 2em);
  }
}
/* End: Skills Media Query */

/* End: Skills Section */

/* Start: About Section */
#about {
  padding: 40px;
  background: #c9c9c9;
}

#about-text,
#about-video {
  padding: 40px;
}

#about-text h2 {
  color: #f5f5f5;
  font-size: 35px;
}

#about-text p {
  margin: 20px 0;
}

#about-text a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  color: #f5f5f5;
  border: solid 2px #2b98f0;
  background: #2b98f0;
  transition: background 0.5s ease, background 0.5s ease;
}

#about-text a:hover {
  background: transparent;
  border: solid 2px #f5f5f5;
}

/* Start: Media Queries */
@media screen and (min-width: 770px) {
  #about {
    display: flex;
  }

  #about-text {
    min-height: 40vh;
    flex: 0 0 60%;
  }

  #about-video {
    min-height: 40vh;
    flex: 0 0 40%;
  }
}
/* End: Media Queries */

/* End: About Section */

/* Start: Services Section */
#services {
  padding: 40px;
}

.service {
  margin: 40px 0;
  display: flex;
}

.service-icon .fa {
  font-size: 60px;
  color: #2b98f0;
  margin-right: 20px;
}

.service-subtitle {
  text-transform: capitalize;
  color: #2b98f0;
  font-size: 20px;
}

.service-info {
  margin-top: 10px;
  line-height: 1.5;
}

.service:hover .fa,
.service:hover .service-subtitle {
  color: rgba(0, 0, 0, 0.8);
}

.service:hover .service-info {
  color: rgb(147, 147, 147);
}

/* Start: Services Media Query */
@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service {
    flex: 0 0 calc(50% - 2em);
  }
}

@media screen and (min-width: 972px) {
  .service {
    flex: 0 0 calc(33.3% - 2em);
  }
}
/* End: Services Media Query */

/* End: Services Section */

/* Start: Portfolio Section */
#portfolio {
  padding: 40px;
  background: #c9c9c9;
}

.work {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  max-height: 300px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

#portfolio img {
  display: block;
  width: 100%;
  min-height: 300px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 2s ease;
}

#portfolio img:hover {
  opacity: 0.4;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-bottom: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgb(147, 147, 147);
  transition: margin 2s ease;
}

.work:hover .image-overlay {
  margin-bottom: 0;
}

.image-text h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
  color: #f5f5f5;
}

.image-overlay .fa {
  font-size: 30px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 50%;
  transition: transform 2s ease, background 2s ease;
}

.image-overlay .fa:hover {
  transform: translateY(-10px);
  background: #082238;
}

.image-icon a {
  color: #2b89f0;
  text-decoration: none;
}

.section-btn {
  text-align: center;
  margin: 20px 0 10px 0;
}

.section-btn a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 30px;
  color: #f5f5f5;
  background: #2b98f0;
  border-radius: 10px;
  transition: background 2s ease, color 2s ease;
}

.section-btn a:hover {
  color: #2b98f0;
  background: #f5f5f5;
}

.section-btn .fa {
  font-size: 40px;
  margin-right: 10px;
}
/* End: Portfolio Section */
